# Snakemake runtime state, logs, and conda environments
.snakemake/
**/.snakemake/

# Python/runtime caches
__pycache__/
**/__pycache__/
*.py[cod]

# Local workflow outputs and generated reports
mosaic/results/
mosaic/taxmyphage_results/
mosaic/busco_downloads/
mosaic/nextflow-autodownload-databases/
mosaic/singularity_images/
mosaic/dag.pdf
mosaic/dag.svg
mosaic/wiki_dag.png
mosaic/output.bed
mosaic/{output.pivot_sorted_zero_diagonal}
mosaic/snakemake_commands.txt
mosaic/database_processing.log
mosaic/bracken_db_ckeckpoint.txt

# Local database installs/downloads
mosaic/db/cenote-taker3/
mosaic/db/METAVR/
mosaic/db/RefSeqViral/
mosaic/db/DRAM_db
mosaic/db/DRAM_db/
mosaic/db/GTDB-Tk/
mosaic/db/KRAKEN/
mosaic/db/VirSorter/
mosaic/db/checkm-db/
mosaic/db/checkv-db-v1.5/
mosaic/db/dionSetDB/
mosaic/db/genomad_db/
mosaic/db/iphop_db/
mosaic/db/taxmyphage_db/
mosaic/db/vcontact2/6Nov2024_*

# Downloaded third-party tools
mosaic/tools/Bracken/
mosaic/tools/KrakenTools/
mosaic/tools/PhaGCN_newICTV/
mosaic/tools/VIBRANT/
mosaic/tools/clusterONE/
mosaic/tools/fixed_satellite_finder.sif
mosaic/tools/minced/
mosaic/tools/pilercr1.06.tar.gz
mosaic/tools/pilercr1.06/
mosaic/tools/quast-5.0.2/
mosaic/tools/satellite_finder/
mosaic/tools/viga/

# Local package inventory dumps
mosaic/base-packages.txt
mosaic/env6-packages.txt
mosaic/python3-packages.txt
mosaic/pytorch_p36-packages.txt
mosaic/r_libraries.R

mosaic/db/adapters/adapters.fa
mosaic/db/contaminants/GCF_000819615.1.fasta
mosaic/db/hmm/Phage_F.hmm
mosaic/db/hmm/ssDNA.hmm
mosaic/db/hmm/Viral_Rep.hmm
mosaic/{output.lovis4u}_work/lovis4u_data/bin/ucsc_linux/bigWigToBedGraph
mosaic/{output.lovis4u}_work/lovis4u_data/bin/ucsc_mac/bigWigToBedGraph
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/HelveticaNeueBlack.otf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/HelveticaNeueBlackItalic.otf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/HelveticaNeueBold.otf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/HelveticaNeueBoldItalic.otf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/HelveticaNeueHeavy.otf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/HelveticaNeueHeavyItalic.otf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/HelveticaNeueItalic.ttf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/HelveticaNeueLight.otf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/HelveticaNeueLightItalic.otf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/HelveticaNeueMedium.otf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/HelveticaNeueMediumItalic.otf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/HelveticaNeueRoman.otf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/HelveticaNeueThin.otf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/HelveticaNeueThinItalic.otf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/HelveticaNeueUltraLight.otf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/HelveticaNeueUltraLightItalic.otf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/iosevka-medium.ttf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/iosevka-regular.ttf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/Lato-Black.ttf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/Lato-BlackItalic.ttf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/Lato-Bold.ttf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/Lato-BoldItalic.ttf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/Lato-Italic.ttf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/Lato-Light.ttf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/Lato-LightItalic.ttf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/Lato-Medium.ttf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/Lato-Regular.ttf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/Lato-Thin.ttf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/Lato-ThinItalic.ttf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/LICENSE
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/NotoSansMono-Medium.ttf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/OFL.txt
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/RobotoMono-Medium.ttf
mosaic/{output.lovis4u}_work/lovis4u_data/fonts/RobotoMono-Regular.ttf
mosaic/{output.lovis4u}_work/lovis4u_data/guide/feature_annotation_table_alt.tsv
mosaic/{output.lovis4u}_work/lovis4u_data/guide/feature_annotation_table_one_row.tsv
mosaic/{output.lovis4u}_work/lovis4u_data/guide/feature_annotation_table.tsv
mosaic/{output.lovis4u}_work/lovis4u_data/guide/locus_annotation_table_10MB.tsv
mosaic/{output.lovis4u}_work/lovis4u_data/guide/locus_annotation_table_demo_1.tsv
mosaic/{output.lovis4u}_work/lovis4u_data/guide/locus_annotation_table_demo_2.tsv
mosaic/{output.lovis4u}_work/lovis4u_data/guide/locus_annotation_table_trnas.tsv
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas01.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas02.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas03.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas04.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas05.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas06.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas07.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas08.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas09.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas10.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas11.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas12.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas13.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas14.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas15.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas16.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas17.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas18.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas19.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas20.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas21.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas22.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas23.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas24.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas25.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas26.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas27.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas28.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas29.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas30.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas31.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas32.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas33.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas34.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas35.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas36.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas37.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas38.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas39.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas40.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas41.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas42.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas43.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas44.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas45.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas46.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas47.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas48.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas49.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas50.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas51.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas52.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas53.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas54.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas55.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas56.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas57.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas58.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas59.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas60.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas61.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas62.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas63.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas64.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas65.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas66.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas67.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas68.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Bas69.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/Lambda.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/N4.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/P1.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/P2.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/T2.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/T4D.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/T5.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/T6.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselCollection/T7.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselSubset/Bas01.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselSubset/Bas03.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselSubset_hmmscan/Bas64.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselSubset_hmmscan/Bas65.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselSubset_hmmscan/Bas66.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselSubset_hmmscan/Bas67.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/BaselSubset_hmmscan/T7.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/bedgraphs/Bas01_DNA-Seq_1.bedGraph
mosaic/{output.lovis4u}_work/lovis4u_data/guide/bedgraphs/Bas01_DNA-Seq_2.bedGraph
mosaic/{output.lovis4u}_work/lovis4u_data/guide/bedgraphs/Bas01_DNA-Seq_WT.bedGraph
mosaic/{output.lovis4u}_work/lovis4u_data/guide/gff_files/NC_001895.1.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/gff_files/NC_005056.1.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/gff_files/NC_028943.1.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/gff_files/NC_049457.1.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/gff_files/NC_049461.1.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/single_gff_file/NC_001895.1.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/unailigned_gffs/BK048435.1.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/unailigned_gffs/OP072870.1.gff
mosaic/{output.lovis4u}_work/lovis4u_data/guide/unailigned_gffs/PQ423993.1.gff
mosaic/db/pharokka/9Aug2025_data.tsv
mosaic/db/pharokka/9Aug2025_genomes.fa.msh
mosaic/db/pharokka/all_phrogs.h3m
mosaic/db/pharokka/aro_index.tsv
mosaic/db/pharokka/CARD
mosaic/db/pharokka/CARD_h
mosaic/db/pharokka/CARD_h.dbtype
mosaic/db/pharokka/CARD_h.index
mosaic/db/pharokka/CARD.dbtype
mosaic/db/pharokka/CARD.index
mosaic/db/pharokka/CARD.lookup
mosaic/db/pharokka/CARD.source
mosaic/db/pharokka/phold_annots_updated.tsv
mosaic/db/pharokka/phrog_annot_v4.tsv
mosaic/db/pharokka/phrogs_profile_db
mosaic/db/pharokka/phrogs_profile_db_h
mosaic/db/pharokka/phrogs_profile_db_h.dbtype
mosaic/db/pharokka/phrogs_profile_db_h.index
mosaic/db/pharokka/phrogs_profile_db.dbtype
mosaic/db/pharokka/phrogs_profile_db.index
mosaic/db/pharokka/phrogs_profile_db.lookup
mosaic/db/pharokka/phrogs_profile_db.source
mosaic/db/pharokka/VERSION_1_8_0
mosaic/db/pharokka/vfdb
mosaic/db/pharokka/vfdb_h
mosaic/db/pharokka/vfdb_h.dbtype
mosaic/db/pharokka/vfdb_h.index
mosaic/db/pharokka/VFDB_setB_pro.fas.gz
mosaic/db/pharokka/vfdb.dbtype
mosaic/db/pharokka/vfdb.index
mosaic/db/pharokka/vfdb.lookup
mosaic/db/pharokka/vfdb.source
mosaic/db/pharokka/VFDBclusterRes_cluster.tsv
mosaic/db/pharokka/VFDBclusterRes_rep_seq.fasta
mosaic/db/phynteny/.snakemake_timestamp
mosaic/db/phynteny/grid_search_model.m_400.b_256.lr_0.0001.dr_0.1.l_2.a_tanh.o_rmsprop.rep_0.best_val_loss.h5
mosaic/db/phynteny/grid_search_model.m_400.b_256.lr_0.0001.dr_0.1.l_2.a_tanh.o_rmsprop.rep_1.best_val_loss.h5
mosaic/db/phynteny/grid_search_model.m_400.b_256.lr_0.0001.dr_0.1.l_2.a_tanh.o_rmsprop.rep_2.best_val_loss.h5
mosaic/db/phynteny/grid_search_model.m_400.b_256.lr_0.0001.dr_0.1.l_2.a_tanh.o_rmsprop.rep_3.best_val_loss.h5
mosaic/db/phynteny/grid_search_model.m_400.b_256.lr_0.0001.dr_0.1.l_2.a_tanh.o_rmsprop.rep_4.best_val_loss.h5
mosaic/db/phynteny/grid_search_model.m_400.b_256.lr_0.0001.dr_0.1.l_2.a_tanh.o_rmsprop.rep_5.best_val_loss.h5
mosaic/db/phynteny/grid_search_model.m_400.b_256.lr_0.0001.dr_0.1.l_2.a_tanh.o_rmsprop.rep_6.best_val_loss.h5
mosaic/db/phynteny/grid_search_model.m_400.b_256.lr_0.0001.dr_0.1.l_2.a_tanh.o_rmsprop.rep_7.best_val_loss.h5
mosaic/db/phynteny/grid_search_model.m_400.b_256.lr_0.0001.dr_0.1.l_2.a_tanh.o_rmsprop.rep_8.best_val_loss.h5
mosaic/db/phynteny/grid_search_model.m_400.b_256.lr_0.0001.dr_0.1.l_2.a_tanh.o_rmsprop.rep_9.best_val_loss.h5
mosaic/{output.lovis4u}_work/genbank/phynteny.gbk
mosaic/{output.lovis4u}_work/lovis4u_data/A4L.cfg
mosaic/{output.lovis4u}_work/lovis4u_data/A4p1.cfg
mosaic/{output.lovis4u}_work/lovis4u_data/A4p2.cfg
mosaic/{output.lovis4u}_work/lovis4u_data/category_colours.tsv
mosaic/{output.lovis4u}_work/lovis4u_data/palette.txt
mosaic/{output.lovis4u}_work/lovis4u_data/standard.cfg
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux.zip
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/LICENSE.md
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/README.md
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/userguide.pdf
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/bin/mmseqs
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/examples/DB.fasta
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/examples/QUERY.fasta
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/blosum30.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/blosum35.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/blosum40.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/blosum45.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/blosum50.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/blosum55.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/blosum60.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/blosum62.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/blosum65.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/blosum70.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/blosum75.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/blosum80.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/blosum85.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/blosum90.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/blosum95.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/blosum100.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/nucleotide.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/PAM10.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/PAM20.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/PAM30.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/PAM40.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/PAM50.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/PAM60.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/PAM70.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/PAM80.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/PAM90.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/PAM100.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/PAM110.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/PAM120.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/PAM130.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/PAM140.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/PAM150.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/PAM160.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/PAM170.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/PAM180.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/PAM190.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/VTML10.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/VTML20.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/VTML40.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/VTML80.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/VTML120.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/matrices/VTML160.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_linux/util/bash-completion.sh
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/LICENSE.md
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/README.md
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/userguide.pdf
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/bin/mmseqs
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/examples/DB.fasta
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/examples/QUERY.fasta
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/blosum30.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/blosum35.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/blosum40.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/blosum45.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/blosum50.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/blosum55.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/blosum60.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/blosum62.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/blosum65.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/blosum70.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/blosum75.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/blosum80.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/blosum85.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/blosum90.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/blosum95.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/blosum100.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/nucleotide.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/PAM10.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/PAM20.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/PAM30.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/PAM40.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/PAM50.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/PAM60.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/PAM70.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/PAM80.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/PAM90.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/PAM100.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/PAM110.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/PAM120.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/PAM130.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/PAM140.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/PAM150.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/PAM160.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/PAM170.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/PAM180.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/PAM190.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/VTML10.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/VTML20.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/VTML40.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/VTML80.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/VTML120.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/matrices/VTML160.out
mosaic/{output.lovis4u}_work/lovis4u_data/bin/mmseqs_mac/util/bash-completion.sh
mosaic/db/pharokka/._.DS_Store
mosaic/db/pharokka/._9Aug2025_data.tsv
mosaic/db/pharokka/._9Aug2025_genomes.fa.msh
mosaic/db/pharokka/._phold_annots_updated.tsv
mosaic/db/pharokka/._phrog_annot_v4.tsv
mosaic/db/pharokka/.DS_Store
.snakemake_timestamp
mosaic/errors.txt
mosaic/tests/rule_blocks.py
mosaic/tests/test_all_assembled.py
mosaic/tests/test_cenote.py
mosaic/tests/test_benchmarks.py
mosaic/tests/test_circularity.py
mosaic/tests/test_inline_genbank.py
mosaic/tests/test_metavr_analysis.py
mosaic/tests/test_refseq_detection.py
mosaic/tests/test_refseq_mapping.py
mosaic/tests/test_rna_assemble.py
mosaic/tests/test_rna_microdiversity.py
mosaic/tests/test_summary_notebooks.py
